@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RobotoThin";
  src: url("./fonts/Roboto-Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TNTSportsSerif";
  src: url("./fonts/TNTSportsSerif.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("./fonts/NotoSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("./fonts/NotoSerif-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("./fonts/NotoSerif-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  src: url("./fonts/NotoSerif-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

:root {
  --riad-background: #e4e0dc;
  --riad-primary: #3c3936;
  --riad-secondary: #9c9289;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--riad-background);
  font-family: "NotoSerif", sans-serif;
}

/* scroll bar */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

/* globals.css */
.writing-mode-vertical-rl {
  writing-mode: vertical-rl;
}

.writing-mode-vertical-lr {
  writing-mode: vertical-lr;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 80s linear infinite;
}
